<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MajorProject"
        tools:targetApi="31">
        <activity
            android:name=".EditProfile"
            android:exported="false" />
        <activity
            android:name=".VerifyEmailPassword"
            android:exported="false" />
        <activity
            android:name=".Theme"
            android:exported="false" />
        <activity
            android:name=".History"
            android:exported="false" />
        <activity
            android:name=".CurrencyConverter"
            android:exported="false" />
        <activity
            android:name=".NewsDetails"
            android:exported="false" />
        <activity
            android:name=".News"
            android:exported="false" />
        <activity
            android:name=".CommunityPostComment"
            android:exported="false" />
        <activity
            android:name=".AddCommunity"
            android:exported="false" />
        <activity
            android:name=".SellPage"
            android:exported="false" />
        <activity
            android:name=".BuyPage"
            android:exported="false" />
        <activity
            android:name=".SearchCurrency"
            android:exported="false" />
        <activity
            android:name=".MarketDetail"
            android:exported="false" />
        <activity
            android:name=".PasswordResetSite"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:host="crypto-college-major-project.in" />
                <data android:pathPrefix="/reset-password" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EmailCheck"
            android:exported="false" />
        <activity
            android:name=".HomePage"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <!--
            android:windowSoftInputMode="adjustPan" is used for set bottomnavigationbar is that place on keyborad is open
            And  android:configChanges="orientation|screenSize" is set for fixing data on devices are rotate
        -->
        <activity
            android:name=".VerifyOtp"
            android:exported="false" />
        <activity
            android:name=".MobileNumber"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".SingIn"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>